<div class="container center col-md-10">
  <div class="detail-grid">
    <div class="grid-1">
      <img src="{{ukm?.result.foto}}" class="img-responsive foto">
    </div>
    <div class="grid-4">
      <h4 *ngIf="ukm?.result.jam_selesai!='null'; else elseBlock">
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - {{ukm?.result.jam_selesai}}
      </h4>
      <ng-template #elseBlock>
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - Selesai
      </ng-template>
      <p>{{ukm?.result.deskripsi}}</p>
      <p>{{setDate(ukm?.result.created_at, ukm?.result.updated_at)}}</p>
      <p> Created at : {{createdAt}}, Last updated at {{updatedAt}}</p>
    </div>
    <div class="grid-3">
    </div>
    <div class="grid-2">
      <a href="../home"><button class="btn btn-secondary">Back to Home</button></a>
    </div>
  </div>
</div>
<div class="container center col-md-10">
  <div class="detail-grid">
    <div class="grid-1">
      <img src="{{ukm?.result.foto}}" class="img-responsive foto">
    </div>
    <div class="grid-4">
      <h4 *ngIf="ukm?.result.jam_selesai!='null'; else elseBlock">
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - {{ukm?.result.jam_selesai}}
      </h4>
      <ng-template #elseBlock>
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - Selesai
      </ng-template>
      <p>{{ukm?.result.deskripsi}}</p>
      <p>{{setDate(ukm?.result.created_at, ukm?.result.updated_at)}}</p>
      <p> Created at : {{createdAt}}, Last updated at {{updatedAt}}</p>
    </div>
    <div class="grid-3">
    </div>
    <div class="grid-2">
      <a href="../home"><button class="btn btn-secondary">Back to Home</button></a>
    </div>
  </div>
</div>
<div class="container center col-md-10">
  <div class="detail-grid">
    <div class="grid-1">
      <img src="{{ukm?.result.foto}}" class="img-responsive foto">
    </div>
    <div class="grid-4">
      <h4 *ngIf="ukm?.result.jam_selesai!='null'; else elseBlock">
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - {{ukm?.result.jam_selesai}}
      </h4>
      <ng-template #elseBlock>
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - Selesai
      </ng-template>
      <p>{{ukm?.result.deskripsi}}</p>
      <p>{{setDate(ukm?.result.created_at, ukm?.result.updated_at)}}</p>
      <p> Created at : {{createdAt}}, Last updated at {{updatedAt}}</p>
    </div>
    <div class="grid-3">
    </div>
    <div class="grid-2">
      <a href="../home"><button class="btn btn-secondary">Back to Home</button></a>
    </div>
  </div>
</div>
<div class="container center col-md-10">
  <div class="detail-grid">
    <div class="grid-1">
      <img src="{{ukm?.result.foto}}" class="img-responsive foto">
    </div>
    <div class="grid-4">
      <h4 *ngIf="ukm?.result.jam_selesai!='null'; else elseBlock">
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - {{ukm?.result.jam_selesai}}
      </h4>
      <ng-template #elseBlock>
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - Selesai
      </ng-template>
      <p>{{ukm?.result.deskripsi}}</p>
      <p>{{setDate(ukm?.result.created_at, ukm?.result.updated_at)}}</p>
      <p> Created at : {{createdAt}}, Last updated at {{updatedAt}}</p>
    </div>
    <div class="grid-3">
    </div>
    <div class="grid-2">
      <a href="../home"><button class="btn btn-secondary">Back to Home</button></a>
    </div>
  </div>
</div>
<div class="container center col-md-10">
  <div class="detail-grid">
    <div class="grid-1">
      <img src="{{ukm?.result.foto}}" class="img-responsive foto">
    </div>
    <div class="grid-4">
      <h4 *ngIf="ukm?.result.jam_selesai!='null'; else elseBlock">
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - {{ukm?.result.jam_selesai}}
      </h4>
      <ng-template #elseBlock>
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - Selesai
      </ng-template>
      <p>{{ukm?.result.deskripsi}}</p>
      <p>{{setDate(ukm?.result.created_at, ukm?.result.updated_at)}}</p>
      <p> Created at : {{createdAt}}, Last updated at {{updatedAt}}</p>
    </div>
    <div class="grid-3">
    </div>
    <div class="grid-2">
      <a href="../home"><button class="btn btn-secondary">Back to Home</button></a>
    </div>
  </div>
</div>
<div class="container center col-md-10">
  <div class="detail-grid">
    <div class="grid-1">
      <img src="{{ukm?.result.foto}}" class="img-responsive foto">
    </div>
    <div class="grid-4">
      <h4 *ngIf="ukm?.result.jam_selesai!='null'; else elseBlock">
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - {{ukm?.result.jam_selesai}}
      </h4>
      <ng-template #elseBlock>
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - Selesai
      </ng-template>
      <p>{{ukm?.result.deskripsi}}</p>
      <p>{{setDate(ukm?.result.created_at, ukm?.result.updated_at)}}</p>
      <p> Created at : {{createdAt}}, Last updated at {{updatedAt}}</p>
    </div>
    <div class="grid-3">
    </div>
    <div class="grid-2">
      <a href="../home"><button class="btn btn-secondary">Back to Home</button></a>
    </div>
  </div>
</div>
<div class="container center col-md-10">
  <div class="detail-grid">
    <div class="grid-1">
      <img src="{{ukm?.result.foto}}" class="img-responsive foto">
    </div>
    <div class="grid-4">
      <h4 *ngIf="ukm?.result.jam_selesai!='null'; else elseBlock">
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - {{ukm?.result.jam_selesai}}
      </h4>
      <ng-template #elseBlock>
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - Selesai
      </ng-template>
      <p>{{ukm?.result.deskripsi}}</p>
      <p>{{setDate(ukm?.result.created_at, ukm?.result.updated_at)}}</p>
      <p> Created at : {{createdAt}}, Last updated at {{updatedAt}}</p>
    </div>
    <div class="grid-3">
    </div>
    <div class="grid-2">
      <a href="../home"><button class="btn btn-secondary">Back to Home</button></a>
    </div>
  </div>
</div>
<div class="container center col-md-10">
  <div class="detail-grid">
    <div class="grid-1">
      <img src="{{ukm?.result.foto}}" class="img-responsive foto">
    </div>
    <div class="grid-4">
      <h4 *ngIf="ukm?.result.jam_selesai!='null'; else elseBlock">
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - {{ukm?.result.jam_selesai}}
      </h4>
      <ng-template #elseBlock>
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - Selesai
      </ng-template>
      <p>{{ukm?.result.deskripsi}}</p>
      <p>{{setDate(ukm?.result.created_at, ukm?.result.updated_at)}}</p>
      <p> Created at : {{createdAt}}, Last updated at {{updatedAt}}</p>
    </div>
    <div class="grid-3">
    </div>
    <div class="grid-2">
      <a href="../home"><button class="btn btn-secondary">Back to Home</button></a>
    </div>
  </div>
</div>
<div class="container center col-md-10">
  <div class="detail-grid">
    <div class="grid-1">
      <img src="{{ukm?.result.foto}}" class="img-responsive foto">
    </div>
    <div class="grid-4">
      <h4 *ngIf="ukm?.result.jam_selesai!='null'; else elseBlock">
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - {{ukm?.result.jam_selesai}}
      </h4>
      <ng-template #elseBlock>
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - Selesai
      </ng-template>
      <p>{{ukm?.result.deskripsi}}</p>
      <p>{{setDate(ukm?.result.created_at, ukm?.result.updated_at)}}</p>
      <p> Created at : {{createdAt}}, Last updated at {{updatedAt}}</p>
    </div>
    <div class="grid-3">
    </div>
    <div class="grid-2">
      <a href="../home"><button class="btn btn-secondary">Back to Home</button></a>
    </div>
  </div>
</div>
<div class="container center col-md-10">
  <div class="detail-grid">
    <div class="grid-1">
      <img src="{{ukm?.result.foto}}" class="img-responsive foto">
    </div>
    <div class="grid-4">
      <h4 *ngIf="ukm?.result.jam_selesai!='null'; else elseBlock">
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - {{ukm?.result.jam_selesai}}
      </h4>
      <ng-template #elseBlock>
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - Selesai
      </ng-template>
      <p>{{ukm?.result.deskripsi}}</p>
      <p>{{setDate(ukm?.result.created_at, ukm?.result.updated_at)}}</p>
      <p> Created at : {{createdAt}}, Last updated at {{updatedAt}}</p>
    </div>
    <div class="grid-3">
    </div>
    <div class="grid-2">
      <a href="../home"><button class="btn btn-secondary">Back to Home</button></a>
    </div>
  </div>
</div>
<div class="container center col-md-10">
  <div class="detail-grid">
    <div class="grid-1">
      <img src="{{ukm?.result.foto}}" class="img-responsive foto">
    </div>
    <div class="grid-4">
      <h4 *ngIf="ukm?.result.jam_selesai!='null'; else elseBlock">
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - {{ukm?.result.jam_selesai}}
      </h4>
      <ng-template #elseBlock>
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - Selesai
      </ng-template>
      <p>{{ukm?.result.deskripsi}}</p>
      <p>{{setDate(ukm?.result.created_at, ukm?.result.updated_at)}}</p>
      <p> Created at : {{createdAt}}, Last updated at {{updatedAt}}</p>
    </div>
    <div class="grid-3">
    </div>
    <div class="grid-2">
      <a href="../home"><button class="btn btn-secondary">Back to Home</button></a>
    </div>
  </div>
</div>
<div class="container center col-md-10">
  <div class="detail-grid">
    <div class="grid-1">
      <img src="{{ukm?.result.foto}}" class="img-responsive foto">
    </div>
    <div class="grid-4">
      <h4 *ngIf="ukm?.result.jam_selesai!='null'; else elseBlock">
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - {{ukm?.result.jam_selesai}}
      </h4>
      <ng-template #elseBlock>
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - Selesai
      </ng-template>
      <p>{{ukm?.result.deskripsi}}</p>
      <p>{{setDate(ukm?.result.created_at, ukm?.result.updated_at)}}</p>
      <p> Created at : {{createdAt}}, Last updated at {{updatedAt}}</p>
    </div>
    <div class="grid-3">
    </div>
    <div class="grid-2">
      <a href="../home"><button class="btn btn-secondary">Back to Home</button></a>
    </div>
  </div>
</div>
<div class="container center col-md-10">
  <div class="detail-grid">
    <div class="grid-1">
      <img src="{{ukm?.result.foto}}" class="img-responsive foto">
    </div>
    <div class="grid-4">
      <h4 *ngIf="ukm?.result.jam_selesai!='null'; else elseBlock">
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - {{ukm?.result.jam_selesai}}
      </h4>
      <ng-template #elseBlock>
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - Selesai
      </ng-template>
      <p>{{ukm?.result.deskripsi}}</p>
      <p>{{setDate(ukm?.result.created_at, ukm?.result.updated_at)}}</p>
      <p> Created at : {{createdAt}}, Last updated at {{updatedAt}}</p>
    </div>
    <div class="grid-3">
    </div>
    <div class="grid-2">
      <a href="../home"><button class="btn btn-secondary">Back to Home</button></a>
    </div>
  </div>
</div>
<div class="container center col-md-10">
  <div class="detail-grid">
    <div class="grid-1">
      <img src="{{ukm?.result.foto}}" class="img-responsive foto">
    </div>
    <div class="grid-4">
      <h4 *ngIf="ukm?.result.jam_selesai!='null'; else elseBlock">
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - {{ukm?.result.jam_selesai}}
      </h4>
      <ng-template #elseBlock>
        Nama UKM : {{ukm?.result.nama}}<br>
        Kode UKM : {{ukm?.result.kode}}<br>
        Anggota UKM : {{ukm?.result.anggota}}<br>
        Waktu UKM: {{ukm?.result.jam_mulai}} - Selesai
      </ng-template>
      <p>{{ukm?.result.deskripsi}}</p>
      <p>{{setDate(ukm?.result.created_at, ukm?.result.updated_at)}}</p>
      <p> Created at : {{createdAt}}, Last updated at {{updatedAt}}</p>
    </div>
    <div class="grid-3">
    </div>
    <div class="grid-2">
      <a href="../home"><button class="btn btn-secondary">Back to Home</button></a>
    </div>
  </div>
</div>
