<div class="container center col-md-10">
    <div class="detail-grid">
        <div class="grid-1">
            <img src="{{ukm?.result.foto}}" class="img-responsive foto">
        </div>
        <div class="grid-4">
            <h4>
                Nama UKM : <input type="text"><br>
                Kode UKM : {{ukm?.result.kode}}<br>
                Anggota UKM : {{ukm?.result.anggota}}<br>
                <div *ngIf="ukm?.result.jam_selesai!='null'; else elseBlock">
                    Waktu UKM : {{ukm?.result.jam_mulai}} - {{ukm?.result.jam_selesai}}
                </div>
                <ng-template #elseBlock>
                    Waktu UKM: {{ukm?.result.jam_mulai}} - Selesai
                </ng-template>
            </h4>
            <p>{{ukm?.result.deskripsi}}</p>
            <p>{{setDate(ukm?.result.created_at, ukm?.result.updated_at)}}</p>
            <p> Created at : {{createdAt}}, Last updated at : {{updatedAt}}</p>
        </div>
        <div class="grid-3">
        </div>
    </div>
</div>