<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a>
        <img src="./.././.././.././../assets/images/logo-02.png" width="80" height="40" />
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">View All UKM</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ukmcode">View UKM by Code</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Add New UKM</a>
    </li>
  </ul>
  <ul *ngIf="!loggedIn" class="navbar-nav ml-auto">
    <li class="nav-item">
      <button type="button" class="btn btn-light" routerLink="/register" style="margin: 5px; float: right;">
        Sign me up!
      </button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-outline-light" routerLink="/login" style="margin: 5px; float: right;">
        Log In!
      </button>
    </li>
  </ul>
  <ul *ngIf="loggedIn" class="navbar-nav ml-auto">
    <li class="nav-item">
      <button type="button" class="btn btn-light" routerLink="/user" style="margin: 5px; float: right;">
        {{username}}
      </button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-link" (click)="logOut()" style="margin: 5px; float: right;">
        Logout
      </button>
    </li>
  </ul>
</nav>
