<div class="container center">
  <mat-tab-group style="min-height:100px;">
    <mat-tab>
      <ng-template mat-tab-label>
        <img src="./.././../assets/images/profile.png" alt="Profile Logo" class="tab-icon" />
        <span style="color: white">Ryukin</span>
      </ng-template>
      <section class="hero-section spad">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-xl-10 offset-xl-1">
              <div class="row">

                <div class="col-lg-3">
                  <img src=" ../../assets/images/cat.jpg" style="width: 90%; 
                  height: 90%; 
                  object-fit: contain; ">
                </div>
                <div class="col-lg-8">
                  <div class="row">
                    <h4 class="col-lg-3">
                      Nama Lengkap
                    </h4>
                    <h4 class=" col-lg-7">
                      : Ryukin Aranta Lika
                    </h4>
                  </div>
                  <div class="row">
                    <h4 class="col-lg-3">
                      Tanggal Lahir
                    </h4>
                    <h4 class=" col-lg-7">
                      : 11 April 2000
                    </h4>
                  </div>
                  <div class="row">
                    <h4 class="col-lg-3">
                      Jenis Kelamin
                    </h4>
                    <h4 class=" col-lg-7">
                      : Laki-laki
                    </h4>
                  </div>
                  <div class="row">
                    <h4 class="col-lg-3">
                      E-mail
                    </h4>
                    <h4 class=" col-lg-7">
                      : ryukin.lika@student.umn.ac.id
                    </h4>
                  </div>

                </div>
              </div>
              <div class="row m-1 p-2" style="border-left: 10px solid lightblue">
                <h4>Hi there, just call me Ryu</h4>
              </div>
              <a href="../home"><button class="btn btn-secondary">Back to Home</button></a>
            </div>
          </div>
        </div>
      </section>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <img src="./.././../assets/images/profile.png" alt="Profile Logo" class="tab-icon" />
        <span style="color: white">Jovan</span>
      </ng-template>
      <section class="hero-section spad">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-xl-10 offset-xl-1">
              <div class="row">

                <div class="col-lg-3">
                  <img src="./.././../assets/images/Wobble_Cat.gif" style="width: 90%; 
                        height: 90%; 
                        object-fit: contain; ">
                </div>
                <div class="col-lg-8">
                  <div class="row">
                    <h4 class="col-lg-3">
                      Nama Lengkap
                    </h4>
                    <h4 class=" col-lg-7">
                      : Jovanko Kenshian
                    </h4>
                  </div>
                  <div class="row">
                    <h4 class="col-lg-3">
                      Tempat & Tanggal Lahir
                    </h4>
                    <h4 class=" col-lg-7">
                      : Jakarta, 18 November 2000
                    </h4>
                  </div>
                  <div class="row">
                    <h4 class="col-lg-3">
                      Jenis Kelamin
                    </h4>
                    <h4 class=" col-lg-7">
                      : Laki-laki
                    </h4>
                  </div>
                  <div class="row">
                    <h4 class="col-lg-3">
                      E-mail
                    </h4>
                    <h4 class=" col-lg-7">
                      : jovanko.kenshian@student.umn.ac.id
                    </h4>
                  </div>

                </div>
              </div>
              <div class="row m-1 p-2" style="border-left: 10px solid lightblue">
                <h4>Mau punya binatang peliharaan tapi entar rumah penuh sama bulu :(</h4>
              </div>
              <a href="../home"><button class="btn btn-secondary">Back to Home</button></a>
            </div>
          </div>
        </div>
      </section>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <img src="./../../assets/images/profile.png" alt="Profile Logo" class="tab-icon" />
        <span style="color: white">William</span>
      </ng-template>
      <section class="hero-section spad">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-xl-10 offset-xl-1">
              <div class="row">

                <div class="col-lg-3">
                  <img src="./../../assets/images/KucingMeng.PNG" style="width: 90%; 
                            height: 90%; 
                            object-fit: contain; ">
                </div>
                <div class="col-lg-8">
                  <div class="row">
                    <h4 class="col-lg-3">
                      Nama Lengkap
                    </h4>
                    <h4 class=" col-lg-7">
                      : William
                    </h4>
                  </div>
                  <div class="row">
                    <h4 class="col-lg-3">
                      Tempat & Tanggal Lahir
                    </h4>
                    <h4 class=" col-lg-7">
                      : Kelapa Gading, 16 Januari 2000
                    </h4>
                  </div>
                  <div class="row">
                    <h4 class="col-lg-3">
                      Jenis Kelamin
                    </h4>
                    <h4 class=" col-lg-7">
                      : Laki-laki
                    </h4>
                  </div>
                  <div class="row">
                    <h4 class="col-lg-3">
                      E-mail
                    </h4>
                    <h4 class=" col-lg-7">
                      : William10@student.umn.ac.ud
                    </h4>
                  </div>

                </div>
              </div>
              <div class="row m-1 p-2" style="border-left: 10px solid lightblue">
                <h4>Brp km menketempe mike .-.</h4>
              </div>
              <a href="../home"><button class="btn btn-secondary">Back to Home</button></a>
            </div>
          </div>
        </div>
      </section>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <img src="./.././../assets/images/profile.png" alt="Profile Logo" class="tab-icon" />
        <span style="color: white">Michael</span>
      </ng-template>
      <section class="hero-section spad">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-xl-10 offset-xl-1">
              <div class="row">

                <div class="col-lg-3">
                  <img src=" ../../assets/images/apel.PNG" style="width: 90%; 
                                height: 90%; 
                                object-fit: contain; ">
                </div>
                <div class="col-lg-8">
                  <div class="row">
                    <h4 class="col-lg-3">
                      Nama Lengkap
                    </h4>
                    <h4 class=" col-lg-7">
                      : Michael
                    </h4>
                  </div>
                  <div class="row">
                    <h4 class="col-lg-3">
                      Tempat & Tanggal Lahir
                    </h4>
                    <h4 class=" col-lg-7">
                      : Singkawang, 27 Januari 2000
                    </h4>
                  </div>
                  <div class="row">
                    <h4 class="col-lg-3">
                      Jenis Kelamin
                    </h4>
                    <h4 class=" col-lg-7">
                      : Laki-laki
                    </h4>
                  </div>
                  <div class="row">
                    <h4 class="col-lg-3">
                      E-mail
                    </h4>
                    <h4 class=" col-lg-7">
                      : maikeru@student.umn.ac.id
                    </h4>
                  </div>

                </div>
              </div>
              <div class="row m-1 p-2" style="border-left: 10px solid lightblue">
                <h4>"Gw salah satu anggota rescue team desa konoha"</h4>
              </div>
              <a href="../home"><button class="btn btn-secondary">Back to Home</button></a>
            </div>
          </div>
        </div>
      </section>
    </mat-tab>
  </mat-tab-group>
</div>