<header [@fadeInOut] class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="neglectmasthead" class="font-weight-light">
          Unit Kegiatan Mahasiswa
        </h1>
        <p class="neglectmasthead" class="lead">Express Yourself</p>
        <div style="padding-top: 30px;">
          <div class="searchBox">
            <input
              class="searchInput"
              type="text"
              name=""
              placeholder="Search"
              [(ngModel)]="searchText"
            />
            <div class="searchButton">
              <em class="material-icons">
                <img
                  src="./.././../assets/images/magnifier.png"
                  alt="Magnifier"
                  style="width: 25px;filter: invert(1);"
                />
              </em>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container center">
  <mat-tab-group style="min-height:800px;">
    <mat-tab>
      <ng-template mat-tab-label>
        <img
          src="./.././../assets/images/athletics.png"
          alt="Athletics Logo"
          class="tab-icon"
        />
        <span style="color: white">Athletics</span>
      </ng-template>
      <div
        *ngFor="let ukms of ukm?.result.ukm | search: searchText"
        class="hide-overflow"
      >
        <div
          *ngIf="ukms.kode.includes('OL')"
          data-aos="fade-right"
          data-aos-duration="500"
          data-aos-delay="100"
        >
          <div class="card flex-row flex-wrap p-2">
            <div
              class="card-header border-0 w-25 my-auto"
              style="background: white;"
            >
              <img [src]="ukms?.foto" alt="Ukm Pic" style="width: 60%;" />
            </div>
            <div class="card-block w-75 card-grid">
              <div>
                <h4 class="card-title">
                  {{ ukms?.nama }}
                </h4>
                <p class="card-text ">
                  {{ ukms?.deskripsi }}
                </p>
                <a
                  routerLink="../ukmdetail/{{ ukms?.kode }}"
                  class="btn btn-primary m-1"
                >
                  SEE MORE DETAILS
                </a>
              </div>
              <div>
                <i (click)="addFave(ukms)" [ngClass]="findFave(ukms)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <img
          src="./.././../assets/images/art.png"
          alt="Art Logo"
          class="tab-icon"
        />
        <span style="color: white">Art & Culture</span>
      </ng-template>
      <div *ngFor="let ukms of ukm?.result.ukm | search: searchText">
        <div
          *ngIf="ukms.kode.includes('SB')"
          data-aos="fade-right"
          data-aos-duration="500"
          data-aos-delay="100"
        >
          <div class="card flex-row flex-wrap p-2">
            <div
              class="card-header border-0 w-25 my-auto"
              style="background: white;"
            >
              <img [src]="ukms?.foto" alt="Ukm Pic" style="width: 60%;" />
            </div>
            <div class="card-block w-75 card-grid">
              <div>
                <h4 class="card-title">
                  {{ ukms?.nama }}
                </h4>
                <p class="card-text ">
                  {{ ukms?.deskripsi }}
                </p>
                <a
                  routerLink="../ukmdetail/{{ ukms?.kode }}"
                  class="btn btn-primary m-1"
                >
                  SEE MORE DETAILS
                </a>
              </div>
              <div>
                <i (click)="addFave(ukms)" [ngClass]="findFave(ukms)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <img
          src="./.././../assets/images/sciencesocial.png"
          alt="Science and Social Logo"
          class="tab-icon"
        />
        <span style="color: white">Science & Social</span>
      </ng-template>
      <div *ngFor="let ukms of ukm?.result.ukm | search: searchText">
        <div
          *ngIf="ukms.kode.includes('SS')"
          data-aos="fade-right"
          data-aos-duration="500"
          data-aos-delay="100"
        >
          <div class="card flex-row flex-wrap p-2">
            <div
              class="card-header border-0 w-25 my-auto"
              style="background: white;"
            >
              <img [src]="ukms?.foto" alt="Ukm Pic" style="width: 60%;" />
            </div>
            <div class="card-block w-75 card-grid">
              <div>
                <h4 class="card-title">
                  {{ ukms?.nama }}
                </h4>
                <p class="card-text ">
                  {{ ukms?.deskripsi }}
                </p>
                <a
                  routerLink="../ukmdetail/{{ ukms?.kode }}"
                  class="btn btn-primary m-1"
                >
                  SEE MORE DETAILS
                </a>
              </div>
              <div>
                <i (click)="addFave(ukms)" [ngClass]="findFave(ukms)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab disabled>
      <ng-template mat-tab-label style="overflow: visible;">
        <button
          mat-button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          [matMenuTriggerFor]="SortMenu"
        >
          Sort By
        </button>
        <mat-menu #SortMenu="matMenu" overlapTrigger="false">
          <span>
            <button
              mat-menu-item
              class="dropdown-item"
              (click)="sortby('nama')"
            >
              Name
            </button>
            <button
              mat-menu-item
              class="dropdown-item"
              (click)="sortby('anggota')"
            >
              Jumlah Anggota
            </button>
            <button
              mat-menu-item
              class="dropdown-item"
              (click)="sortby('updated_at')"
            >
              Last Modified
            </button>
          </span>
        </mat-menu>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
<em class=""></em>

<!-- <div class="container center bio">
  <div class="row">
    <div class="card" style="width: 15rem; margin: 20px;" data-aos="fade-up" data-aos-duration="2000"
      data-aos-delay="500">
      <img src="./.././../assets/images/cat.jpg" alt="Hey" class="card-img-top" />
      <div class="card-body">
        <h5>Ryukin</h5>
        <p class="card-text">
          Just some random guy right here
        </p>
      </div>
    </div>

    <div class="card" style="width: 15rem; margin: 20px;" data-aos="fade-up" data-aos-duration="2000"
      data-aos-delay="600">
      <img src="./.././../assets/images/john-doe.png" alt="Hey" class="card-img-top" />
      <div class="card-body">
        <h5>Jovan</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>

    <div class="card" style="width: 15rem; margin: 20px;" data-aos="fade-up" data-aos-duration="2000"
      data-aos-delay="700">
      <img src="./.././../assets/images/john-doe.png" alt="Hey" class="card-img-top" />
      <div class="card-body">
        <h5>Michael</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>

    <div class="card" style="width: 15rem; margin: 20px;" data-aos="fade-up" data-aos-duration="2000"
      data-aos-delay="800">
      <img src="./.././../assets/images/john-doe.png" alt="Hey" class="card-img-top" />
      <div class="card-body">
        <h5>William</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
</div> -->
