<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 [@fadeInOut] class="neglectmasthead" class="font-weight-light">Unit Kegiatan Mahasiswa</h1>
        <p class="neglectmasthead" class="lead">Express Yourself</p>
        <div style="padding-top: 30px;">
          <div class="searchBox">
            <input class="searchInput" type="text" name="" placeholder="Search">
            <button class="searchButton" routerLink="#">
              <i class="material-icons">
                <img src="./.././../assets/images/magnifier.png" style="width: 25px;">
              </i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


<div class="container center">
  <mat-tab-group style="min-height:800px;">
    <mat-tab>
      <ng-template mat-tab-label>
        <img src="./.././../assets/images/athletics.png" class="tab-icon">
        <span>Athletics</span>
      </ng-template>
      <div *ngFor="let ukms of ukm?.result.ukm" routerLink="../ukmdetail/{{ukms.kode}}">
        <div *ngIf="ukms.kode.includes('OL')" class="css-grid card">
          <img src="{{ukms?.foto}}" class="card-img-top logosettings">
          <h3>{{ukms?.nama}}</h3>
          <p class="paragraph-settings">{{ukms?.deskripsi}}</p>
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <img src="./.././../assets/images/art.png" class="tab-icon">
        <span>Art & Culture</span>
      </ng-template>
      <div *ngFor="let ukms of ukm?.result.ukm" routerLink="../ukmdetail/{{ukms?.kode}}">
        <div *ngIf="ukms.kode.includes('SB')" class="css-grid card">
          <img src="{{ukms?.foto}}" class="card-img-top logosettings">
          <h3>{{ukms?.nama}}</h3>
          <p class="paragraph-settings">{{ukms?.deskripsi}}</p>
        </div>
      </div>
    </mat-tab>


    <mat-tab>
      <ng-template mat-tab-label>
        <img src="./.././../assets/images/sciencesocial.png" class="tab-icon">
        <span>Science & Social</span>
      </ng-template>
      <div *ngFor="let ukms of ukm?.result.ukm" routerLink="../ukmdetail/{{ukms?.kode}}">
        <div *ngIf="ukms.kode.includes('SS')" class="css-grid card">
          <img src="{{ukms?.foto}}" class="card-img-top logosettings">
          <h3>{{ukms?.nama}}</h3>
          <p class="paragraph-settings">{{ukms?.deskripsi}}</p>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="container center bio">
  <div class="row">

    <div class="card" style="width: 15rem; margin: 20px;" data-aos="fade-up" data-aos-duration="2000">
      <img src="./.././../assets/images/john-doe.jpg" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
    </div>

    <div class="card" style="width: 15rem; margin: 20px;" data-aos="fade-up" data-aos-duration="1000">
      <img src="./.././../assets/images/john-doe.jpg" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
    </div>

    <div class="card" style="width: 15rem; margin: 20px;" data-aos="fade-up" data-aos-duration="500">
      <img src="./.././../assets/images/john-doe.jpg" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
    </div>

    <div class="card" style="width: 15rem; margin: 20px;" data-aos="fade-up" data-aos-duration="250">
      <img src="./.././../assets/images/john-doe.jpg" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
    </div>
  </div>

</div>





<div data-aos="fade-up" data-aos-duration="3000">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit consequatur tempore veniam, iste nobis
  perferendis temporibus ab molestiae cupiditate, fugit quidem quo. Ab placeat sunt quis necessitatibus, rem veniam,
  consequatur nihil quo fuga odio deserunt aut aliquam incidunt vitae officiis debitis culpa, atque sapiente facilis
  libero excepturi perspiciatis veritatis. Dicta non asperiores, molestiae neque similique quia, quas ratione iure,
  quibusdam dolore cupiditate inventore ipsa? Et officia quasi id harum, ullam explicabo eos dignissimos tempora
  temporibus quidem cupiditate est dolorum quos repellat earum nobis sunt quia dolorem aperiam corrupti, numquam, non
  itaque cumque! Perferendis, laborum repellat enim ullam similique cupiditate atque rerum! Sequi esse magnam alias
  ipsa, voluptate soluta temporibus. Porro culpa facilis, eum perferendis deleniti ad quod necessitatibus eos ratione
  distinctio officia deserunt est cupiditate repellat reiciendis sit maiores. Minus omnis neque iste cum magni. Sunt
  enim impedit eligendi voluptatem, illum, quae esse dicta commodi rem assumenda nesciunt quas minus repellendus eos
  dolores dolor eius praesentium! Minus voluptate beatae doloribus doloremque excepturi repudiandae quasi quis
  reprehenderit. Nobis quod molestias fugiat? Modi porro sit culpa optio minima ipsa voluptatem. Facere blanditiis earum
  laborum corrupti beatae, repudiandae repellendus recusandae explicabo tempore accusantium. Molestias aut numquam iure,
  et repellendus nihil dolor deserunt illum voluptatem quae consectetur, alias sunt. Molestias, doloremque dolor. Nisi
  esse labore obcaecati autem libero pariatur consectetur saepe nostrum nesciunt, exercitationem, distinctio aperiam
  voluptas itaque blanditiis veritatis non? Repellat, similique quidem harum optio quae, blanditiis incidunt ratione
  tenetur dolores consequuntur ullam corporis dolor ad ducimus vero. Quis tempore quidem officiis earum facilis corporis
  deleniti reiciendis, ea quaerat sequi magni fugiat? Dignissimos nostrum asperiores nobis. Esse, consequatur neque
  maiores rerum eos dignissimos incidunt ipsum quidem delectus illo reiciendis id placeat velit aperiam, dolorem totam
  voluptas quas. Fugit accusantium rem ad. Nihil culpa non nesciunt ad? Ut inventore natus suscipit. Laboriosam
  voluptates natus quasi, dolore repudiandae ratione consectetur sequi quaerat accusantium repellat neque culpa earum
  dolorum ipsum numquam suscipit facilis eum voluptatibus iste quos architecto fuga optio distinctio cum. Nobis odio
  iure illum magni molestiae. Nesciunt doloribus porro laboriosam esse quaerat ipsa tenetur unde impedit quidem sit!
  Perferendis possimus dignissimos corrupti nobis fuga!

</div>
